/* starts mylife top menu bar */

.header-top-menu {
  background: #002c5d;
  height: 50px;
  padding: 12px 0 0;
  .header-top-menu-text {
    display: flex;
    align-items: center;
    gap: 40px;
    a {
      color: #fff;
      position: relative;
      z-index: 1;
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      font-family: "Source Sans 3", sans-serif;
      i {
        margin-right: 10px;
        color: #39cabb;
      }
    }
  }
}



.header-top-menu-icon {
  text-align: right;
  .header-top-menu-inner {
    display: inline-block;
    ul li {
      display: inline-block;
      list-style: none;
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      } 
      a {
        font-size: 14px;
        display: inline-block;
        color: #fff;
        transition: 0.5s;
        &:hover{
          color: #39cabb;
        }
      }     
    }
  }
}



// home2-------

// .header-top-menu {
//   padding: 22px 0 28px;
//   .header-top-menu-icon {
//     display: flex;
//     align-items: center;
//     justify-content: space-evenly;
//     .header-topbar-social {
//       display: flex;
//       align-items: center;
//       gap: 15px;
//       a i {
//         font-size: 32px;
//         color: #002c5d;
//       }
//       .header-topbar-text {
//         display: flex;
//         flex-direction: column;
//       }
//       .header-topbar-text {
//         span {
//           color: #616161;
//           font-family: "Source Sans 3", sans-serif;
//           font-size: 16px;
//           line-height: 22px;
//           font-weight: 400;
//         }
//         a {
//           color:  #002c5d;
//           font-family: "Source Sans 3", sans-serif;
//           font-size: 16px;
//           line-height: 26px;
//           font-weight: 600;
//         }
//       }
//     }
//   }
// }
