.feature-area {
  padding: 100px 0;
  background: #ebfaf8;
  .section-tittle h5{
    background: #fff;
  }
  .single-feature-box {
    padding: 40px 32px;
    background: #fff;
    border-radius: 5px;
    margin-top: 60px;
    position: relative;
    overflow: hidden;
    &:before{
      position: absolute;
      content: "";
      width: 0;
      height: 5px;
      bottom: 0;
      background: #39CABB;
      left: 50%;
      transition: .5s;
    }
    &:hover .feature-thumb{
      background: #002C5D;
    } 
  }
  .feature-thumb {
    text-align: center;
    width: 100px;
    height: 100px;
    background: #ebfaf8;
    line-height: 100px;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 30px;
    transition: .5s;
  }

  .feature-content {
    text-align: center;
    h3 {
      font-family: "Source Sans 3", sans-serif;
      font-size: 22px;
      font-weight: 600;
      line-height: 28px;
      text-align: center;
      color: #002c5d;
    }
    p {
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 26px;
      text-align: center;
      margin: 15px 0 25px;
    }
    .medi-button a {
      padding: 8px 30px;
    }
    }
  }


  .single-feature-box:hover:before{
    width: 100%;
    left: 0;
  }

